@import "tailwindcss";

@theme {
  --color-primary: #11b1ae;
  --color-dark-primary: #006765;
  --color-secondary: #333333;
  --color-default: #fafafa;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: #fff; */
  /* color: var(--foreground); */
}
/* input[type="datetime-local"]::before { */
/*   content: attr(placeholder); */
/*   color: #999; */
/*   margin-right: 0.5em; */
/* } */
/* input[type="datetime-local"]:focus::before, */
/* input[type="datetime-local"]:valid::before { */
/*   content: "Preferensi Jadwal (Hari & Jam)"; */
/* } */
